<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://signix.local/player-tizen"
        version="1.0.13"
        viewmodes="maximized">

    <tizen:profile name="tv-samsung"/>

    <name>Signix Player (Tizen)</name>
    <description>Player isolado para Samsung Tizen — consome Supabase Functions do Signix.</description>
    <author href="https://signix.local" email="dev@signix.local">Signix</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>

    <tizen:application id="orgSIGNIXplayerTizen.SignixPlayer"
                       package="orgSIGNIXplayerTizen"
                       required_version="2.4"/>

    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.preview" value="endpoint"/>

    <icon src="icon.png"/>

    <access origin="*" subdomains="true"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
